* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.newdns {
  color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  color: hsl(186, 14%, 43%);
  color: hsl(184, 14%, 56%);
  color: hsl(185, 41%, 84%);
  color: hsl(189, 41%, 97%);
  color: hsl(0, 0%, 100%);
}

body {

  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  outline: none;
}
button,input{
  cursor: pointer;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 375px;
}

main > img {
  width: 90px;
  margin: 2.6rem auto;
}

#main-container {
  background: hsl(0, 0%, 100%);
  border-radius: 20px 20px 0 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#input-container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
}
.input-div,#tip-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.input-div span {
  display: flex;
  background: hsl(189, 41%, 97%);
  padding: 0.5rem 1.5rem;
  align-items: center;
}
.input-div label,
#tip-div p{
  color: hsl(184, 14%, 56%);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
#tip-div p{
  margin-bottom: 1rem;
}
.input-div input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  text-align: right;
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
}
.input-div input::placeholder{
  color: hsl(184, 14%, 56%);
}

#tip-options-div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#tip-options-div button,#tip-options-div input{
  font-family: 'Space Mono', monospace;
  width: 145px;
  margin-bottom: 0.8rem;
  background: hsl(183, 100%, 15%);
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 0.5rem ;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
}
#tip-div{
  margin-bottom: 0.7rem;
}
#tip-options-div input{
  background: hsl(189, 41%, 97%);
  text-align: center;
  color: hsl(183, 100%, 15%);

}
#tip-options-div input::placeholder{
  color: hsl(184, 14%, 56%);
}

#result-container{
  display: flex;
  flex-direction: column;
  background: hsl(183, 100%, 15%);
  border-radius: 20px;
  padding: 2rem 1rem;
  justify-content: space-around;
}
#result-container .result-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
.result-div p{
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
.result-div p span{
  color: hsl(184, 14%, 56%);
  font-weight: 700;
  font-size: 0.9rem;
}
#tip-amount,#total{
  color: hsl(172, 67%, 45%);
  font-size: 2rem;
}
.reset-btn{
  cursor: not-allowed;
  opacity: 0.2;
  position: relative;
  width: 100%;
  background: hsl(172, 67%, 45%);
  border: none;
  padding: 0.9rem ;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.1rem;
  color: hsl(183, 100%, 15%);
  margin-top: 1rem;
}
.hover-class:hover{
  background:hsl(185, 41%, 84%);
}
#tip-options-div button:hover,
.active-btn{
  background:hsl(185, 41%, 84%)!important;
  color: hsl(183, 100%, 15%)!important;
}


.error{
  display: flex;
  justify-content: space-between;
}
.error>span{
  display: none;
  color: hsl(0, 100%, 58%);
  background: transparent;
}
.input-error{
  border: solid 1px hsl(0, 100%, 58%);
}

@media screen and (min-width:1000px){
  body{
    height: 100vh;
  }
  main > img{
    margin:0 ;
    margin-bottom: 2.5rem;
  }
  main{
    justify-content: center;
    align-items: center;
  }
  #main-container{
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
  }
  #result-container{
    width: 400px;
    padding: 2rem 3rem;
  }
#tip-options-div button,#tip-options-div input{
  width: 120px;
}
}
